In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/train.csv")

In [3]:
data.sample(10)

                                                   text  label language
8973                                    @user é–èµ·ä¾†è™•ç½®ï¼Ÿ å“ˆå“ˆ   2.60  Chinese
1209                                   @user Ohhh got u   1.00  English
6164  Valanghe, cessato stato di attenzione su Dolom...   1.00  Italian
4785  @user @capuanogio Lâ€™ho criticato spessoâ€¦stavol...   1.40  Italian
8927  @user å‡¯æ–‡Â·å¸ƒæ‹‰è¿ªå‘è¡¨å£°æ˜ï¼Œç§°ç¾ä¸­è¾¾æˆè´¸æ˜“åè®®â€œå¯¹ç¾å›½å·¥äººå’Œå…¬å¸æ¥è¯´æ˜¯å†å²æ€§çš„ä¸€å¤©â€œã€‚...   1.00  Chinese
2015      @user @user HabrÃ­a que charlar dirÃ­a yo. Jeje   2.25  Spanish
7920  æˆ‘å·²ç»æ‡’åˆ°æ¥æ¨äº† å«å…¥ğŸšªä¹Ÿç´¯äº† åŸºæœ¬ä¸Šæ˜¯vxäº† æƒ³è¿›çš„ç›´æ¥å£ä»¤å’Œvxå· æˆ‘çœ‹åˆ°ä¼šé¢†äº†å†åŠ çš„ ...   3.00  Chinese
8901  ï¼» èˆ‡å¤§å±Œç¶²ç´…çš„çœŸå¯¦è‡ªæ‹3-3 ï¼½ å…¶å¯¦å¾ˆå¤šäººçŸ¥é“å½±ç‰‡ä¸»è§’äº†ğŸ˜‚ å°±æ˜¯èªè­˜è »ä¹…çš„æ¿•æ¿•@happ...   2.80  Chinese
9029                                @user æˆ‘å°„äº†å¾ˆå¤šæ´¨çµ¦é€™å€‹ç”·å„ªå“ˆå“ˆ   4.80  Chinese
2760    este nudo en la garganta que no se va con nadağŸ˜ª   3.75  Spanish

In [7]:
data.label.describe()

count    9491.000000
mean        2.093782
std         0.903512
min         1.000000
25%         1.400000
50%         2.000000
75%         2.666667
max         5.000000
Name: label, dtype: float64

In [5]:
data.groupby('language').count()

            text  label
language
Chinese     1596   1596
English     1587   1587
French      1588   1588
Italian     1532   1532
Portuguese  1596   1596
Spanish     1592   1592

In [6]:
data.groupby(["label", "language"]).describe()

                  text         \
                 count unique
label language
1.0   Chinese      142    142
      English      343    343
      French       238    238
      Italian      281    281
      Portuguese   148    142
...                ...    ...
5.0   English        8      8
      French         1      1
      Italian        2      2
      Portuguese     1      1
      Spanish        2      2


                                                                top freq
label language
1.0   Chinese     å°‹æ‰¾æ‰€æœ‰äººçš„åŒ¿åå•é¡Œï¼ Nickæ²’æœ‰ä»»ä½•å•é¡Œï¼ Nickå±±ç¬¬ä¸€å€‹ä»¤äººé›£å¿˜çš„ç­”æ¡ˆå¯èƒ½æ˜¯æ‚¨çš„å•é¡Œ...    1
      English                                  Bees vs. Wasps. http    1
      French                     Allez maintenant le #SpanishGP #F1    1
      Italian     @user Il primo esempio che le ho fatto Ã¨ stata...    1
      Portuguese  seu perfil foi visto por 6 pessoas nas Ãºltimas...    5
...                                                             ...  ...
5.0   English                   Eat her out dick her down cuddle up    1
      French      @user T'es la one n only pour lui, normal que ...    1
      Italian     @user @user Quante volte mi sono segato con la...    1
      Portuguese                   Minha barriga estÃ¡ muito inchada    1
      Spanish     Tocandole el Culo con la Punta de mi Verga a m...    1

[240 rows x 4 columns]

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9491 entries, 0 to 9490
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   text      9491 non-null   object
 1   label     9491 non-null   float64
 2   language  9491 non-null   object
dtypes: float64(1), object(2)
memory usage: 222.6+ KB